/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background: url(../images/patasGato.jpg)no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position:center;
	background-size: 100% 100%;
	
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header{
	background:rgba(2, 252, 222, 0.34);
}
.header-top{
	padding:4% 0;
}
.header-bottom{
	padding:1% 0;
	background:rgba(51, 51, 51, 0.22);
	text-align: center;
}
.logo {
	float:left;
}
ul.follow_icon{
	float:right;
}
.follow_icon li {
	float: left;
	margin-right: 20px;
}
.follow_icon li a img {
	vertical-align: middle;
}
.phone {
	float: right;
	font-family: 'Roboto Condensed', sans-serif;
	margin:20px 0 0px 0px;
	line-height: 15px;
}
span.order{
	font-weight: normal;
	font-style: italic;
	font-size:1.3em;
	line-height: 10px;
	padding-left: 30px;
	color:#fff;
}
h5.ph-no{
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 20px;
	display: inline-block;
	font-size:1.5em;
	background:url(../images/phone.png) 0px -1px no-repeat;
	margin-top:15px;
}
/*--menu--*/
#cssmenu > ul > li {
	display: inline-block;
	z-index: 99;
	position: relative;
}
#cssmenu > ul > li > a {
	color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	line-height: 70px;
	padding: 35px 20px 70px;
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
	text-transform: uppercase;
}
#cssmenu li.active a, #cssmenu li a:hover{
	color:#fff;
	background:rgba(7, 105, 43, 0.38);
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top:121px;
  visibility: visible;
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #323232;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:1em;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
#cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
#cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
#cssmenu ul ul a:hover {
  background-color:#E3F7CE;
  color: #000;
}
/*--content--*/
.dc-head-img {
	float: left;
	width: 47%;
}
.dc-head-img img{
	border-radius:500px;
	-webkit-border-radius:500px;
	-moz-border-radius:500px;
	-o-border-radius:500px;
}
.dc-head-info {
	float: left;
	width: 50%;
	margin-left: 3%;
}
h5.head{
	color: #555;
	font-size:2.3em;
	line-height: 35px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 3%;
}
.dc-head-info span {
	font-family: 'Roboto Condensed', sans-serif;
	color: #888;
	font-size: 1.1em;
	text-transform: uppercase;
}
.dc-profile p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.1em;
	color: #888;
	padding: 20px 0px;
	line-height: 1.5em;
}
.btn-6a {
	border: 4px solid #E3F7CE;
}
.btn-6 {
	color: #FFF;
	background:#333;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	font-family: 'Roboto Condensed', sans-serif;
}
.btn {
	cursor: pointer;
	padding: 10px 40px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 1.2em;
}
.btn-6a:hover {
	background: rgba(0, 0, 0, 0);
	color:#000;
}
.top-box{
	background:#E3F7CE;
}
.content-top{
	padding: 6% 0 6%;
}
/*  GRID OF THREE   ============================================================================= */
.col_1_of_3{
	display: block;
	float:left;
	margin:0% 0 0% 3.6%;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3 {
	width:30.2%;
}
.span_1_of_3  h3{
	color:#777;
	font-size:1.7em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 20px;
	text-transform: uppercase;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%;  
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
     
     .wrap{
		width:95%;
	}		
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
.main{
}

.busqueda{
	position: relative;
	top: 50px;
	font-family: cursive;
}

.test{
	position: relative;
	top: 50px;
	font-family: cursive;
}